/* .grid {
  background: #fff;
} */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
  /* padding: 1px; */
}

.grid-item img {
  display: block;
  max-width: 100%;
}

@media (min-width: 576px) {
  .grid-sizer,
  .grid-item {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
}
