.tabs-filter .tab a,
.tabs-filter .tab a:hover,
.tabs-filter .tab a.active {
  color: #aaaaff;
}

.tabs-filter .tab a:focus,
.tabs-filter .tab a.active {
  /* background-color: rgba(170, 170, 255, 0.2) !important; */
  background-color: transparent !important;
}

.tabs-filter .indicator {
  background-color: #aaaaff;
}

/* .grid {
  background: #fff;
} */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
}

/* .grid-item figure {
  margin-bottom: 30px;
} */

.grid-item img {
  display: block;
  width: 100%;
  /* border-radius: 5px;
  margin-bottom: 30px; */
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .grid-item {
    padding: 0 10px;
  }

  .grid-item img {
    border-radius: 5px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 33.3333%;
  }

  .grid-item {
    padding: 0 15px;
  }

  .grid-item img {
    border-radius: 5px;
    margin-bottom: 30px;
  }
}
