.page-footer {
  background: linear-gradient(to right, #aaaaff, #fcbaf8);
  font-size: 14px;
}

.info-footer {
  text-align: center;
}

.social-links-footer {
  display: flex;
  justify-content: center;
}

.social-links-footer a {
  font-size: 26px;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #aaaaff 0%,
    #fcbaf8 51%,
    #aaaaff 100%
  );
  background-size: 200% auto;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s all;
}

.social-links-footer a:hover {
  background-position: right center;
}

@media (min-width: 992px) {
  .page-footer .row {
    display: flex;
    align-items: center;
  }

  .info-footer {
    text-align: left;
  }

  .social-links-footer {
    display: unset;
  }

  .social-links-footer a {
    margin: 10px 0;
  }
}
