.parallax-box {
  /* position: relative; */
  height: 50vh;
  /* background-image: url('./images/pexels-photo-509922.jpeg'); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* transform: translateY(-64px); */
}

.gallery-wrapper {
  max-width: 1600px;
  margin: 0 5% 0 5%;
}

.gallery img {
  width: 100%;
  margin-bottom: 10px;
}

.tilt-image {
  width: 75%;
  display: inline-block;
}

.tilt-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.reviews {
  position: relative;
}

.reviews .parallax-container {
  height: 400px !important;
}

.reviews .parallax img {
  /* min-width: unset !important;
  width: 100% !important; */
  height: auto;
}

.map-wrapper {
  width: 100%;
  max-width: 700px;
  height: 300px;
}

@media (min-width: 576px) {
  .introduction-hook {
    max-width: 400px;
  }

  .gallery-wrapper {
    margin: 0 10% 0 10%;
  }

  .tilt-image {
    width: 75%;
  }

  .appointment .row {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .tilt-image {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .call-store-button {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .gallery-wrapper {
    margin: 0 5% 0 5%;
  }

  .tilt-image {
    max-width: 380px;
  }

  .map-wrapper {
    height: 380px;
  }
}
