.slider {
  height: 50vh !important;
}

.slides {
  height: 100% !important;
}

.slider .indicators {
  z-index: 2;
}

.slider .indicators .indicator-item {
  height: 12px !important;
  width: 12px !important;
  margin: 15px 5px !important;
}

.slider .indicators .indicator-item.active {
  /* background: linear-gradient(to right, #aaaaff, #fcbaf8); */
  background-color: rgba(252, 186, 248, 0.65) !important;
}

@media (min-width: 576px) {
  .slider {
    height: 60vh !important;
  }
}

@media (min-width: 768px) {
  .slider {
    height: 50vh !important;
  }
}

@media (min-width: 992px) {
  .slider {
    height: 55vh !important;
  }
}
