.carousel {
  z-index: 996 !important;
}

.carousel .indicator-item {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.carousel li.active {
  /* background: linear-gradient(to right, #aaaaff, #fcbaf8); */
  background-color: rgba(252, 186, 248, 0.65) !important;
}

.carousel .indicator-item {
  height: 12px !important;
  width: 12px !important;
  margin: 15px 5px !important;
}

.carousel-hero .carousel,
.carousel-hero .carousel-item {
  height: 400px !important;
}

.carousel-hero .carousel-item {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.carousel-hero .carousel-item img {
  width: unset !important;
  height: 100%;
}

.carousel-services .carousel-item img {
  width: 50% !important;
  /* border-radius: 50%; */
}

.carousel-reviews {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel-reviews .carousel.carousel-slider {
  height: 400px !important;
  max-width: 1000px;
}

.carousel-item-content {
  max-width: 325px;
}

.carousel-reviews .carousel-item .review-icon {
  font-family: 'Arizonia';
  font-size: 100px;
  line-height: 0;
  color: #fcbaf8;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
  .carousel-item-content {
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
}
