.header {
  position: relative;
  z-index: 998 !important;
}

.sticky {
  position: fixed;
  top: 0;
  /* width: 100%; */
}

.top-bar {
  /* background-color: #ee6e73; */
  background: linear-gradient(to right, #aaaaff, #fcbaf8);
  padding: 10px 0;
  font-size: 14px;
}

.widget-text div {
  justify-content: center;
}

.widget-text .material-icons {
  font-size: 12px;
  padding-right: 5px;
}

.widget-social div {
  display: flex;
  justify-content: center;
}

.social-links-top-bar a {
  font-size: 16px;
  padding: 0 10px;
}

.nav {
  /* background-color: rgba(238, 110, 115, 1); */
  background-color: white;
}

.brand-logo,
.header-link a {
  font-family: 'Playfair Display';
}

.brand-logo,
.header-link a,
.sidenav-trigger {
  color: black !important;
}

.nav-wrapper {
  z-index: 1;
  /* background-color: rgba(238, 110, 115, 0.5); */
}

.sidenav-trigger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sidenav-trigger:focus {
  background-color: transparent;
}

@media (min-width: 576px) {
  .widget-text div {
    justify-content: center;
  }

  .widget-social div {
    justify-content: center;
  }

  .widget-social div:first-child {
    text-align: center;
  }
}

@media (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .sidenav-trigger {
    display: none;
  }
}

@media (min-width: 992px) {
  .widget-text div {
    justify-content: start;
  }

  .widget-social div {
    justify-content: flex-end;
  }

  .widget-social div:first-child {
    text-align: right;
  }
}
