@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro|Arizonia');

body {
  font-family: 'Playfair Display';
  /* font-family: 'Source Sans Pro'; */
  font-size: 16px;
}

.playfair-text {
  font-family: 'Playfair Display';
}

.arizonia-text {
  font-family: 'Arizonia';
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.btn {
  background: linear-gradient(to right, #aaaaff, #fcbaf8);
}
