.pricing-wrap {
  text-align: center;
  background: #f5f5f9;
  padding: 10px 0 48px 0;
  margin: 0 auto 20px auto;
  border-radius: 125px 125px 10px 10px;
  transition: background 0.4s linear;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  /* justify-content: space-between; */
}

.image-top img {
  border: 10px solid #ffffff;
  width: 240px;
  height: 240px;
}

.content-bottom h5 {
  font-family: 'Playfair Display';
}

.content-bottom h6 {
  font-family: 'Arizonia';
  font-size: 24px;
  color: #fcbaf8;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .image-top img {
    border: 10px solid #ffffff;
    width: 150px;
    height: 150px;
  }

  .content-bottom h5 {
    display: flex;
    align-items: center;
    height: 50px;
  }
}
