.pricing-wrap {
  position: relative;
  text-align: center;
  background: #f5f5f9;
  padding: 10px 0 48px 0;
  margin: 0 auto 20px auto;
  border-radius: 125px 125px 10px 10px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  transition: background 0.4s linear;
}

.pricing-wrap::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #aaaaff, #fcbaf8);
  position: absolute;
  opacity: 0;
  transition: 0.4s linear;
}

.pricing-wrap:hover::before {
  opacity: 1;
}

.pricing-wrap:hover .content-bottom h5,
.pricing-wrap:hover .content-bottom h6,
.pricing-wrap:hover .content-bottom ul li {
  color: #fff;
}

.pricing-wrap:hover a {
  background: #fff;
  color: #fcbaf8;
  font-weight: bold;
}

.pricing-wrap .image-top,
.pricing-wrap .content-bottom,
.pricing-wrap a {
  position: relative;
}

.image-top img {
  border: 10px solid #ffffff;
  width: 90%;
}

.content-bottom h5 {
  font-family: 'Playfair Display';
}

.content-bottom h6 {
  font-family: 'Arizonia';
  font-size: 24px;
  color: #fcbaf8;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .pricing-wrap {
    border-radius: 100px 100px 10px 10px;
  }

  .content-bottom h5 {
    display: flex;
    align-items: center;
    height: 50px;
  }
}

@media (min-width: 1200px) {
  .pricing-wrap {
    border-radius: 125px 125px 10px 10px;
  }
}
